In [3]:
import pandas as pd
titanic= pd.read_csv("train.csv")
houses = pd.read_csv("kc_house_data.csv")
netflix= pd.read_csv("netflix_titles.csv",index_col=0)
countries = pd.read_csv("world-happiness-report-2021.csv")
btc = pd.read_csv("coin_Bitcoin.csv")

In [2]:
titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
#DROPPING COLUMNS
#btc.drop(labels= axis=1,inplace=True )
#btc.drop(labels=["SNo","Name","Symbol"], axis ="columns",inplace=True)

#DROPING ROWS
#countries.drop(["Iceland","Switzerland"])
countries.drop(countries.index[0:3])

In [ ]:
#ADDING A COLUMN
houses.insert(0,"County","Texas")
houses

CREATING DYNAMIC COLUMNS

In [ ]:
titanic["num_relatives"] = titanic["SibSp"]+ titanic["Parch"]
titanic.sort_values("num_relatives", ascending= False)#most relatives on board
titanic[titanic["Survived"]==1].sort_values("num_relatives",ascending=False)#Most number of relatives and survived
solo_hunt= titanic["num_relatives"]==0
titanic[solo_hunt].Pclass.value_counts()

In [ ]:
#setting the director name in that row
netflix.loc["s2202","director"]= 'Greg whiteley'
netflix.loc["s2202"]

In [ ]:
netflix.loc[netflix["rating"].isna()]

In [ ]:
import pandas as pd
ufos = pd.read_csv("ufo_reports.csv")
ufos.head()

In [ ]:
ufos.info()
pd.to_datetime(ufos["Date_Time"])